/* src/App.css */
.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.side-panel {
  width: 250px; /* fixed width */
  height: 100vh; /* fixed height */
  background-color: #f7fafc;
  
}

.main-content {
  width: 100%;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
}

.navbar {
  /* width: 100%; */
  margin-top: 0.8rem;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: calc(100% - 300px);
  left: 250px;
  top: 0;
}

.content {
  margin-top: 60px; /* height of navbar */
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}
